{{>header}}
<h3>All Posts</h3>
  <ul>
    {{#each posts}}
      <li>
        <h4>{{this.title}}</h4>
        <p>{{this.content}}</p>
        <small>Posted on {{this.date}}</small>
      </li>
    {{/each}}
  </ul>
</main>
{{>footer}}

